h1 {
    color: black;

}

div {
    width: 800px;
    height: 600px;
    background-image: url(cbr1000rrr.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}