* {
    margin: 10px;
}

header {
    background: #edc0bf;
    background: linear-gradient(90deg, #edc0bf 0, #c4caef 58%);
    width: 100%;
    height: 80px;
    border-radius: 5px;
}

header a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header li {
    display: inline;
    scroll-margin-right: 4vw;
}

header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 95px;
}

.menu {
    display: none;
}

h1 {
    line-height: 80px;
    font-size: 30px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h4 {
    size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


blockquote {
    background-color: black;
    width: 100%;
    border-radius: 5px;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

ul {
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.motto {
    background-color: pink;
}

section {
    color: white;
    background-image: url(images/painting-mountain-lake-with-mountain-background_188544-9126.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 40vw;
}

.ai {
    color: white;
    background-image: url(images/vx5WQ9nnqybDD2nKGIw4--100--W6KKA_2x.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 40vw;
}







/* media queries */
@media screen and (max-width: 768px) {
    header h1 {
        left: 50%;
        transform: rotateX('angle');
    }

    header ul {
        display: none;
    }

    .menu {
        display: block;
        position: absolute;
        top: 28px;
        right: 20px;
        background-color: transparent;
        color: white;
        font-size: 30px;
        border: none;
    }

    blockquote {
        font-size: 20px;
        line-height: 25px;
    }

    footer {
        position: absolute;
        bottom: 0px;
    }
}